RewriteEngine on

# Remove .php extension
RewriteRule ^([^\.]+)$ $1.php [L]

# Rewrite URL
RewriteRule    teacher/course/([0-9]+)                                  teacherCourse?id=$1
RewriteRule    course/([0-9]+)/students                                 studentlist?id=$1
RewriteRule    course/([0-9]+)/addstudent                               addstudent?id=$1
RewriteRule    course/([0-9]+)/attendance                               attendance?id=$1
RewriteRule    course/([0-9]+)/result                                   result?id=$1
RewriteRule    course/([0-9]+)/marks/([0-9]+)                           marks?id1=$1&id2=$2
#RewriteRule    course/([0-9]+)/marks/([0-9]+)/edit/([a-z0-9]+)          editmarks?id1=$1&id2=$2&id3=$3
#RewriteRule    course/([0-9]+)/marks/([0-9]+)/delete/([a-z0-9]+)        deletemarks?id1=$1&id2=$2&id3=$3
RewriteRule    course/student/([0-9]+)                                  studentCourse?id=$1
#RewriteRule    changepassword/([0-9]+)                                  changepassword?id=$1

# Authority
RewriteRule    manage/teacher                                           stuTeachHandle?id=1
RewriteRule    manage/student                                           stuTeachHandle?id=2
RewriteRule    add/teacher                                              addTeacherStudent?id=1
RewriteRule    add/student                                              addTeacherStudent?id=2
RewriteRule    teacher/subject                                          addSubject?id=1
