RewriteEngine on

# Remove .php extension
RewriteRule ^([^\.]+)$ $1.php [L]

# Rewrite URL
RewriteRule    teacher/course/([0-9])                    teacherCourse?id=$1
RewriteRule    course/([0-9])/students                   studentlist?id=$1
RewriteRule    course/([0-9])/addstudent                 addstudent?id=$1
RewriteRule    course/([0-9])/attendance                 attendance?id=$1
RewriteRule    course/([0-9])/result                     result?id=$1
RewriteRule    course/([0-9])/marks/([0-9])              marks?id1=$1&id2=$2